﻿@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("AdminHeaderLinks", "Common")
@{
    var mainSlider = MvcHtmlString.Empty;
    var homePageCss = String.Empty;
    var missingHomePageSlider = String.Empty;

    var controllerName = System.Web.HttpContext.Current.Request.RequestContext.RouteData.GetRequiredString("controller");
    var isHomePage = controllerName.Equals("home", StringComparison.InvariantCultureIgnoreCase);
    if (isHomePage)
    {
        /*homePageCss = "fullscreen";*/
        mainSlider = @Html.Widget("home_page_main_slider");

        if (MvcHtmlString.IsNullOrEmpty(mainSlider))
            missingHomePageSlider = "no-slider"; // do not wrap in a curly brakets because the mvc throws an error for missing closing bracket.
    }   
}

@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")
<!--CME ADJUSTING CSS CALL TO ALWAYS CALL FULLSCREEN CLASS-->
<div class="master-wrapper-page fullscreen @missingHomePageSlider">

    <script type="text/javascript">
        AjaxCart.init(false, '.cart-wrapper .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
    </script>
    <div class="overlayOffCanvas"></div>
    @Html.Partial("Header")
    <div class="responsive-nav-wrapper-parent">
        <div class="responsive-nav-wrapper">
            <div class="menu-title">
                <span>@T("SevenSpikes.Themes.Common.MenuTitle")</span>
            </div>
            <div class="filters-button">
                <span>@T("SevenSpikes.Themes.Common.Filters")</span>
            </div>
        </div>
    </div>
    <div class="justAFixingDivBefore"></div>
    <div class="header-menu">
	         <!--7-17-19 CME Moving logo from header-file-->
        <div class="close-menu">
            <span>@T("SevenSpikes.Themes.Common.CloseMenu")</span>
        </div>
        @{
            var menuHtml = Html.Widget("theme_header_menu");
        }
        @if (!MvcHtmlString.IsNullOrEmpty(menuHtml))
        {
            @menuHtml
        }
        else
        {
            @Html.Action("TopMenu", "Catalog")
        }
    </div>
    <div class="master-wrapper-content">
        @Html.Widget("content_before")
        @*ajax loading window*@
        <div class="ajax-loading-block-window" style="display: none">
            <div class="loading-image">
            </div>
        </div>

        @mainSlider

        <div class="master-column-wrapper">
            @RenderBody()
        </div>
        @Html.Widget("content_after")
    </div>

    @Html.Action("Footer", "Common")
</div>

@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")
