﻿@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //page class
    Html.AppendPageCssClassParts("html-home-page");

    //TGIStart MODIFIED FOR WHITTAKER
    Html.AppendHeadCustomParts("<meta name=\"google-site-verification\" content=\"AFSZySNz-QMW64IQ8TMzv35kXoGMV1CXlcmNoNfuJmo\" />");
    Html.AppendHeadCustomParts("<meta name=\"google-site-verification\" content=\"EyhI_EGUhKUKCTo4mqO53LuUUBBhmyLamxuCAjjCkEM\" />");
    //TGIEnd
}
<div class="page home-page">
<!--CME EDIT-->
<!--ADDING A WRAPPING CONTAINER page-body WITH CLASS OF TESTING-->
    <div class="page-body testing">
		<div class="home-container">
			@Html.Widget("home_page_top")
			@Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })
			@Html.Widget("home_page_before_categories")
			@Html.Action("HomepageCategories", "Catalog")
			@Html.Widget("home_page_before_products")
			@Html.Action("HomepageProducts", "Product")
			@Html.Widget("home_page_before_best_sellers")
			@Html.Action("HomepageBestSellers", "Product")
			@Html.Widget("home_page_before_news")
			@Html.Action("HomePageNews", "News")
			@Html.Widget("home_page_before_poll")
			@Html.Action("HomePagePolls", "Poll")
			@Html.Widget("home_page_bottom")
		</div>
    </div>
</div>
