﻿@model FooterModel
@using Nop.Web.Models.Common;
@using Nop.Core.Infrastructure;
@using Nop.Core;
@using Nop.Services.Configuration;
@using Nop.Core.Domain.Tax;

@{
    var storeId = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.Id;
    var removeDesignedBy = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey("smartthemesettings.removedesignedby", false, storeId, true);
    var removeCopyright = EngineContext.Current.Resolve<ISettingService>().GetSettingByKey("smartthemesettings.removecopyright", false, storeId, true);
    var workingLanguageId = EngineContext.Current.Resolve<IWorkContext>().WorkingLanguage.Id;
}

<div class="footer">
    <div class="footer-upper">
        <div class="master-column-wrapper">
            <div class="two-third-box">
                <h3 class="title">@T("SevenSpikes.Themes.Smart.Common.AboutUs.Title")</h3>
                @Html.Action("TopicBlock", "Topic", new { systemName = "AboutUs" })
            </div>
            <div class="two-third-box-second">
                <h3 class="title">@T("SevenSpikes.Themes.Smart.Common.ContactUs")</h3>
                <ul class="contacts">
                    <li class="phone"><span>@T("SevenSpikes.Themes.Smart.Common.Phone")</span></li>
                    <li class="mobile"><span>@T("SevenSpikes.Themes.Smart.Common.Mobile")</span></li>
                    <li class="email"><span><a href="javascript:sevenSpikes.AntiSpam('@T("SevenSpikes.Themes.Smart.Common.EmailName")', '@T("SevenSpikes.Themes.Smart.Common.EmailDomain")')">Email Us<!--@T("SevenSpikes.Themes.Smart.Common.EmailName")@T("SevenSpikes.Themes.Smart.Common.EmailAt")@T("SevenSpikes.Themes.Smart.Common.EmailDomain")--></a></span></li>
                    <li class="skype"><span>@T("SevenSpikes.Themes.Smart.Common.Skype")</span></li>
                </ul>
            </div>
        </div>
        <!--CME EDITS 7-17-19-->
        <!--CME MOVING SECTION TO A NEW LAYOUT POSITION IN THE 5 BOXES -->
        <!--<div class="footbox">
            <h3 class="title">@T("Footer.FollowUs")</h3>
            @Html.Action("Social", "Common")
            @Html.Action("NewsletterBox", "Newsletter")-->
            <!--TGIStart-->
            <!-- ADDED BY TGI FOR WHITTAKER -->
            <!--<div class="custom-footer-badges">-->
            <!-- (c) 2005, 2016. Authorize.Net is a registered trademark of CyberSource Corporation -->
                <!--<div class="AuthorizeNetSeal"> 
                    <script type="text/javascript" language="javascript">var ANS_customer_id="b5bd57d6-438b-4a8d-9de5-61e6888bb2a3";</script>
                    <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js" ></script>
                    <a href="http://www.authorize.net/" id="AuthorizeNetText" target="_blank">Internet Payments</a>
                </div>
            </div>-->
            <!--TGIEnd-->
        <!--</div>--> <!--CME EDITS END 7-17-19-->
    </div>
    <div class="footer-middle">
        
    <div class="footlist">
        <!--service support-->
            <h3 class="title">@T("SevenSpikes.Themes.Smart.Common.ServiceSupport")</h3>
            <ul>
                <!--TGIStart-->
                <!-- MODIFIED BY TGI FOR WHITTAKER -->
                <!-- Remove hardcoded URL's and use setting for column 3 from topic manager instead -->
                <!--
                <li><a href="@Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("customerassistance") })">@T("SevenSpikes.Themes.Smart.Common.CustomerAssistance")</a></li>
                <li><a href="@Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("faq") })">@T("SevenSpikes.Themes.Smart.Common.FAQ")</a></li>
                -->

                <!-- MODIFIED BY TGI FOR WHITTAKER -->
                <!-- MOVED foreach for x.IncludeInFooterColumn3 to the 4th column -->
                @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                {
                    <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                }
                <li><a href="http://store.whittakersystem.com/nopTest/instructions">Parts Finder</a></li>
                <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
            </ul>

        </div>
        <div class="footlist">
            <h3 class="title">@T("SevenSpikes.Themes.Smart.Common.ShippingReturns")</h3>
            <ul>
                @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                {
                    <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                }
            </ul>
        </div>
        <div class="footlist">
            <h3 class="title">@T("SevenSpikes.Themes.Smart.Common.AffiliateExtras")</h3>
            <ul>
                <!--TGIStart-->
                <!-- ADDED BY TGI FOR WHITTAKER -->
                <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.CustomerInfo")</a></li>
                <!--<li><a href="@Url.RouteUrl("CustomerAddresses")">@T("Account.CustomerAddresses")</a></li>-->
                <li><a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a></li>
                <!--<li><a href="@Url.RouteUrl("Wishlist")">@T("Wishlist")</a></li>-->
                <li><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare")</a></li>
                <!-- MODIFIED BY TGI FOR WHITTAKER -->
                <!-- MOVED foreach for x.IncludeInFooterColumn3 to the 4th column -->
                <!--
                @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
                {
                    <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                }
                -->
                <!--TGIEnd-->
            </ul>
        </div>
        <div class="footlist">
            <h3 class="title">@T("SevenSpikes.Themes.Smart.Common.LegalInformation")</h3>
            <ul>
                @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
                {
                    <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
                }
                <!--TGIEnd-->
                @if (Model.AllowCustomersToApplyForVendorAccount)
                {
                    <li><a href="@Url.RouteUrl("ApplyVendorAccount")">@T("Vendors.ApplyAccount")</a></li>
                }


            </ul>
        </div>
       
        <!--CME START-->
        <!--CME MOVING FOLLOW US BOX TO THE LOWER 5 COLUMNS PER DESIGN CHANGE-->
        <div class="footlist">
            <h3 class="title">@T("Footer.FollowUs")</h3>
            <!--8-20-19 CHROMA ADDING Social Links-->
            <!--@Html.Action("Social", "Common")-->
            <ul class="social-icons"> 
                <li><a href="https://www.facebook.com/WhittakerCo/"><img src="/nopTest/Content/Images/uploaded/social-icons/facebook-128v2.png"/></a></li>
                <li><a href="https://www.youtube.com/user/WhittakerSystemsPA"><img src="/nopTest/Content/Images/uploaded/social-icons/youtube-128v2.png"/></a></li>
                <li><a href="https://www.linkedin.com/company/re-whittaker-co-/"><img src="/nopTest/Content/Images/uploaded/social-icons/linkedin-128v2.png" /></a></li>
            </ul>
            @Html.Action("NewsletterBox", "Newsletter")
            <!--TGIStart-->
            <!-- ADDED BY TGI FOR WHITTAKER -->
            <div class="custom-footer-badges">
                <a href="http://www.authorize.net/" id="AuthorizeNetText" target="_blank">Internet Payments</a>      
            <!-- (c) 2005, 2016. Authorize.Net is a registered trademark of CyberSource Corporation -->
                <div class="AuthorizeNetSeal"> 
                    <script type="text/javascript" language="javascript">var ANS_customer_id="b5bd57d6-438b-4a8d-9de5-61e6888bb2a3";</script>
                    <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js" ></script>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-lower">
            <div class="center">
            <div class="footer-disclaimer">
                @T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), Model.StoreName)
            </div>

            @if (!removeCopyright)
            {
                <div class="footer-powered-by">
                    Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>
                </div>
            }
            @if (!removeDesignedBy)
            {
                <div class="footer-designed-by">
                    Designed by <a href="http://www.nop-templates.com/" target="_blank">Nop-Templates.com</a>
                </div>
            }
            @Html.Action("StoreThemeSelector", "Common")
            @if (Model.DisplayTaxShippingInfoFooter)
            {
                var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
                <div class="footer-tax-shipping">
                    @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                </div>
            }
        </div>
    </div>
    @Html.Widget("footer")
</div>
